.Button
    background-color: #f14668
    border-color: transparent
    color: #fff
    border-radius: 20px
    width: 100%
    cursor: pointer
    padding: 10px 20px
    font-size: 16px
    width: 100%
    margin-top: 20px
    margin-bottom: 10px
    &:active
        background-color: rgba(#f14668, 80%)
