.Sidebar
    width: 200px
    height: 100%
    min-height: 400px
    background-color: #E61737
    padding: 5px 20px 20px 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    position: fixed
    top: 0
    transition: all 0.5s
    transform: translate3d(-200px, 0, 0)
    z-index: 9999
    @media (min-width:1025px)
        transform: translate3d(0, 0, 0)
.SidebarOpen
    transform: translate3d(0, 0, 0)
.Logo
    @media (min-width:1025px)
        display: none
.Link
    color: white
    font-size: 14px
    display: block
    padding: 15px 0
.Body
    padding-top: 50px
.Footer
    color: white
